footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: var(--secondary-font-family);
}

.linha-dados-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 220px;
    height: 70px;
    margin-bottom: 15px;
}

.div-icon-footer img{
    width: 25px;
    height: 25px;;
}

.div-icon-footer{
    border-radius: 15px;
    background-color: #f5d1e3;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados-contato-footer{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.p-footer{
    font-weight: 600;
    color: var(--secondary-color);
}

.p-numbers{
    font-weight: 500;
    color: var(--text-main-color);
}

hr{
    width: 95vw;
    border: 1px solid var(--aux-primary-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size:large;
}

@media screen and (min-width: 768px){
    .footer-infos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}