*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #f42973;
    --secondary-color: #f9fafb;
    --text-main-color: #1f2632;
    --text-secondary-color: #e9155b;
}

body{
    background-color: var(--secondary-color);
}
