.main-header{
    display: inline-block;
    background-color: var(--primary-color);
    height: 110px;
    width: 100%;
    justify-content: center;
}

.text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.title-header{
    font-size:40px;
    color: var(--secondary-color);
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
}

.subtitle-header{
    color: var(--text-main-color);
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
}


