.main-section h1, p{
    font-family: "Montserrat", sans-serif;
}


.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    gap: 20px;
    margin-bottom: 50px;
}

